<h2>Create Cue</h2>

<a href="{% url 'admin_dashboard' %}">Back to Dashboard</a>
<hr>
<br>
<form method="post">
    {% csrf_token %}

    {{ form.event.label_tag }}
    {{ form.event }}
    <br><br>

    {{ form.operator.label_tag }}
    {{ form.operator }}
    <br><br>

    {{ form.cue_time.label_tag }}
    {{ form.cue_time }}
    <br><br>

    {{ form.cue_action.label_tag }}
    {{ form.cue_action }}
    <br><br>

    {{ form.note.label_tag }}
    {{ form.note }}
    <br><br>

    {{ form.cue_date.label_tag }}
    {{ form.cue_date }}
    <br><br>

    {{ form.pre_alert_sec.label_tag }}
    {{ form.pre_alert_sec }}
    <br><br>

    <button type="submit">Save Cue</button>
</form>